<launch>
    <arg name="robot_name" default="ur5e"/>
    <arg name="initialpose"/>
    <arg name="robot_namespace" default="/"/>
    <arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
    <arg name="realsense_enabled" default="$(optenv HUSKY_REALSENSE_ENABLED false)"/>
    <arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
        <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
    </node>
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
    </node> -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
        <remap from="robot_description" to="/$(arg robot_name)/robot_description" />
    </node>
    <param name="/ur5e/robot_description" command="$(find xacro)/xacro --inorder '$(find ur5e_husky)/urdf/ur5e_robot.urdf.xacro'" />

</launch>